@{
    ViewData["Title"] = "Tatlılar";
}

<h2>Tatlılar</h2>

<ul>
    <li><a asp-controller="Sepet" asp-action="TatliEkle" asp-route-id="1">Sufle</a></li>
    <li><a asp-controller="Sepet" asp-action="TatliEkle" asp-route-id="2">Cheesecake</a></li>
</ul>