@{
    ViewData["Title"] = "Ana Sayfa";
}

<h2>Hoş Geldiniz</h2>

<p>Ne sipariş etmek istersiniz?</p>

<ul>
    <li><a asp-controller="Yemekler" asp-action="Index">Yemekler</a></li>
    <li><a asp-controller="Tatlılar" asp-action="Index">Tatlılar</a></li>
    <li><a asp-controller="Icecekler" asp-action="Index">İçecekler</a></li>
</ul>