@{
    ViewData["Title"] = "Ana Yemekler";
}

<h2>Ana Yemekler</h2>

<ul>
    <li><a asp-action="Detay" asp-route-id="1">Hamburger</a></li>
    <li><a asp-action="Detay" asp-route-id="2">Tavuk Burger</a></li>
    <li><a asp-action="Detay" asp-route-id="3">Pizza</a></li>
</ul>