@{
    ViewData["Title"] = "Ara Yemekler";
}

<h2>Ara Yemekler</h2>

<ul>
    <li><a asp-action="Detay" asp-route-id="4">Sigara Böreği</a></li>
    <li><a asp-action="Detay" asp-route-id="5">Patates Kızartması</a></li>
</ul>