@{
    ViewData["Title"] = "İçecekler";
}

<h2>İçecekler</h2>

<ul>
    <li><a asp-controller="Sepet" asp-action="IcecekEkle" asp-route-id="1">Kola</a></li>
    <li><a asp-controller="Sepet" asp-action="IcecekEkle" asp-route-id="2">Ayran</a></li>
    <li><a asp-controller="Sepet" asp-action="IcecekEkle" asp-route-id="3">Su</a></li>
</ul>